---
---
#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: {{ site.basecolor }};
}

#banner-text {
    color: white;
    font-family: Lato;
    font-weight: 900;
    text-align: center;
    padding: 0;
}

#logo {
    height: 100px;
    width: auto;
}