---
layout: base
---

<div class="row">
  <div class="col s12 m10 offset-m1">
    <div class="col s12 m10 offset-m1">
      {% if page.cover %}
      {% img page.cover cover %}
      {% endif %}
      <div class="row">
      <h4 class="post-title">{{ page.title }}</h4>
      <div class="valign-wrapper">
      <div class="author">
        <img src="{{ page.author_img | prepend: site.baseurl }}" class="circle responsive-img">
      </div> 
      {% for category in page.categories %}
      <h5>
        <a href="{{ category | prepend: '/categories/' | prepend: site.baseurl }}">{{ category }}</a>
      {% unless forloop.last%}, {% endunless %}{% endfor%} - {{ page.date | date: "%m/%d/%Y" }}
      </h5>
      </div>
        {% for tag in page.tags %}
        {% if tag != site.sticky %}
        <a href="{{ tag | prepend: '/tags/' | prepend: site.baseurl }}">
          <div class="chip waves-effect waves-red">{{ tag }}</div>
        </a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col s12 m10 offset-m1 normal-text">
    <div class="col s12 m10 offset-m1">
      <p>
		    {{ content }}
      </p>
    </div>
	</div>
</div>